body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
}

@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: yellow;
  }
}

@media all and (min-width: 769px) {
  body {
    background-color: green;
  }
}
