
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container-all {
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg");
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  margin: 0;
  animation-name: intro;
  animation-duration: 2s;
}

@keyframes intro {
    from {
        opacity: 0;
        transform: translate3d(0px, -500px, 0px);
    }
    to {
        opacity: 1;
    }
}
