body {
  margin: 0;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box--1 {
  width: 500px;
  height: 500px;
  padding: 40px;
  border: 2px solid gold;
  background-color: yellow;
}

.box--2 {
  width: 300px;
  height: 300px;
  padding: 75px;
  background-color: greenyellow;
}

.box--3 {
  width: 150px;
  height: 150px;
  border: 20px dotted darkturquoise;
  background-color: aqua;
}
